html { 
  background: url(pics/login3.jpg) repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}
/*.main-content{
	background-color: rgba(255,255,255,0.8);
	border:1px solid black;
}*/
body{
	 /*background-color: #f7f7f7;*/
	 	background-color: rgba(200,200,200,0.5);
		 font-family: 'Sunflower', sans-serif;
		 margin: auto;
		 width: 90%;
	/* background-image: url('pics/main.jpg');*/
/*	    background-image: url("pics/login.jpg");
    	background-repeat: no-repeat;
        background-size: cover;
      	background-size: 100%;*/
       /* background-position: center;*/
        color:#2f2f2f;
        font-family: 'Sunflower', sans-serif;
}
.navbar{
	background-color: rgba(41,44,47,1);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 48px;
}
/*.crsl{
	margin-bottom: 50%;
}*/
.navbar a:not(.withlogo){
	color: #FFFFFF;
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.navbar img{
	height: 48px;
	float: left;
	text-align: center;
	text-decoration: none;
	   -webkit-filter: invert(1);
   filter: invert(1);
	font-size: 17px;
}
.navbar a.active{
	background-color: rgba(255,69,0,0.6);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.navbar a:hover, .dropdown:hover .dropbtn{
	background-color: #BBBBBB;
	color: black;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.navbar-right{
	float: right;
}
.navbar-center{
	float: center;
}
/*.top-post{
	background-image: url('pics/AH.jpg');
	background-repeat: no-repeat;
	background-size: 966px 494px;
	height: 400px;
}
.text-over-img{
	height: 400px;
	width: 965px;
}
*/
.lgn
{
	border-radius: 10px;
	border: 1px solid black;
	margin-left: 35%;
	width: 30%;
	background: rgba(255,255,255, 0.5) ;
	padding-bottom: 10px;
}
.signup
{
	border-radius: 10px;
	border: none;
	margin-left: 35%;
	width: 30%;
	background: rgba(175,175,175, 0.5) ;
}
.in
{
	    width: 80%;
    padding: 12px 20px;
    margin: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.subbtn
{
	color: #FFFFFF;
	background-color: #2AAD35;
	padding: 14px 16px;
	border-radius: 10px;
	width: 80%;
	margin: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
}
.mySlides 
{ 
    display:none;
   /* position: absolute;
*/    height: 60%;
	border-radius: 10px
    /*margin-bottom: 200%;*/
}
.leftbtc
{
    position: absolute;
    margin-top: 15%;
    font-size: 16px;
}
.rightbtc
{
    position: absolute;
    margin-top: 15%;
    right: 0;
    font-size: 16px;
}
.lgnfrm>a
{
	margin-left: 28%;
}
.signupfrm>a
{
	margin-left: 22%;
}
.container{
			border-radius: 10px;
			/*border: 1px solid black;*/
			width: 39%;
			margin:5%;
			margin-top: 1%;
			margin-bottom: 5%;
 			float: left;
			/*height: 255px;*/

			/*background: rgba(150,150,150, 0.5) ;*/
			/*margin-bottom: 10%;*/
		}
		img{
			max-width: 100%;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
		.collapsible {
			background-color: #eee;
		  	color: #444;
		  	cursor: pointer;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
		}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .collapsible:hover {
		    background-color: #ccc;
		}

/* Style the collapsible content. Note: hidden by default */
		.content {
		    background-color: rgba(150,150,150,0.7);
		    /*padding: 10px 5px 50px 5px;*/
		    border-bottom-left-radius: 10px;
		    border-bottom-right-radius: 10px;
		    text-align: center;
		    font-size: 14px;
		    max-height: 0;
		    color: #FFFFFF;
   			overflow: hidden;
    		transition: max-height 0.2s ease-out;
		}
.sidebar{
	background-color: #454545;
	border-radius: 20px;
	width: 200px;

}

.sidebar a{
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.sidebar a.active{
	background-color: #2AAD35;
	border-radius: 20px;
}
.sidebar a:hover{
	background-color: #BBBBBB;
	color: black;
	border-radius: 20px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #454545;
    border-radius: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
   background-color: #BBBBBB;
	color: black;
	border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer-distributed{
	/*background-color: rgba(51,54,57,0.5);*/
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}
h1 span{
	color:#5383d3;
}
h1{
	color: #FFFFFF;
}
.likes{
	background-color: rgba(41,44,47,1); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

}